P{
    color: #fff;
}
.rr{
text-align: center;
color: #fff;
}
/* Estilos generales */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
   background: url(imagenes/fondo.jpg) no-repeat center center fixed ;
   background-size: cover;
}

.container {
    width: 80%;
    margin: 0 auto;
}

/* Estilos del encabezado */
header {
    background-color: #333;
    color: #fff;
    padding: 15px 0;
}

.logo img {
    max-width: 3%;
    height: auto;
}

.menu-icon {
    cursor: pointer;
    display: none;
    flex-direction: column;
}

.bar {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 5px 0;
}

.nav-menu {
    display: flex;
    align-items: center;
}

.nav-menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-menu li {
    margin: 0 15px;
}

.nav-menu a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
}

/* Estilos del héroe */
.hero {
    background: url('hero.jpg') center/cover no-repeat;
    color: #fff;
    text-align: center;
    padding: 100px 0;
}

.hero h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

.hero p {
    font-size: 18px;
    margin-bottom: 30px;
}

.cta-button {
    display: inline-block;
    padding: 15px 30px;
    background-color: #fff;
    color: #333;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.cta-button:hover {
    background-color: #333;
    color: #fff;
}

/* Estilos del contenido */
.content {
    padding: 50px 0;
}

.services h2,
.contact h2 {
    text-align: center;
    margin-bottom: 30px;
}

.service {
    margin-bottom: 50px;
}

.service img {
    max-width: 20%;
    height: auto;
    margin-bottom: 20px;
}

/* Estilos del pie de página */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 15px 0;
}

/* Estilos para dispositivos móviles */
@media only screen and (max-width: 768px) {
    .menu-icon {
        display: flex;
    }

    .nav-menu {
        display: none;
        flex-direction: column;
        background-color: #333;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        z-index: 1;
    }

    .nav-menu.show {
        display: flex;
    }

    .nav-menu ul {
        flex-direction: column;
        align-items: center;
        padding: 10px;
    }

    .nav-menu li {
        margin: 10px 0;
    }
}
